.content-table tbody td:nth-child(2) {
    text-align: center !important;
}

.fa-edit{
  color: #04a19a;
}
.reply:hover{
    border-bottom: 1px solid #04a19a !important;
    transition: all 0.3s;
}
